
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <!-- <div>
    <h5 class="center-align">Le cours dont vous êtes le héros</h5>
  </div>
 -->
  <div>
    <h5 class="center-align">Le cours dont vous êtes le héros
<%= link_to t(".top_call_to_action", default: "Go"), new_course_path, :class => 'navbar-wagon-button btn ' %></h5>


  </div>

