<footer class="page-footer brown lighten-4 z-depth-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Light UP</h5>
        <p class="grey-text text-lighten-4">BLABLABLAfbkddslvjmkldsj df kjsdkmdfg kldmfjg dlfkmgjmdfs</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Réseaux sociaux</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright Text
    <%= link_to "A propos de nous", pages_about_path, :class => "grey-text text-lighten-4 right"%>
    </div>
  </div>
</footer>
