<div class="card">
  <span class="card-bg" style="background-image: url('https://images.unsplash.com/photo-1430287974932-fedd98142f2d?q=80&fm=jpg&s=50e16621cdb0bfd2a7a7303d6d4e0534')"></span>


  <span class="card-shadow"></span>
  <!-- <span class="card-description">Popular</span> -->
  <span class="card-text text-center">
    <h2><%= course.name%></h2>
    <!-- <p><%= course.description%></p> -->

  </span>
  <!-- <span class="card-user">

    <img src='crudité.jpg' class="avatar avatar-bordered"/>

  </span> -->


  <%= link_to "", course_path(course), class: "card-link" %>

</div>
